                </div>
            </div>
            <footer class="margin-lr color-2" id="footer">Copyright © 2024 Divyajyoti Panda</footer>
        </div>

        <script>
            function decodeHtml(html) {
                var txt = document.createElement("textarea");
                txt.innerHTML = html;
                return txt.value;
            }
            
            document.addEventListener("DOMContentLoaded", () => {
                const queryBox = document.getElementById('search');
                const autocomBox = document.getElementById('autocom-box');
                const autocomItems = document.querySelectorAll('#autocom-box .autocom-li');
                const loader = document.getElementsByClassName('loader')[0];
                const loaderParent = document.getElementsByClassName('loader-parent')[0];
        
                let mouseOnAutocomBox = false;
        
                autocomBox.addEventListener('mouseover', (event) => {mouseOnAutocomBox = true;});

                autocomBox.addEventListener('mouseout', (event) => {mouseOnAutocomBox = false;});
                
                <% if ( queryText != "") { %>
                    queryBox.focus();
                <% } %>
        
                document.addEventListener("click", (event) => {
                    if (document.activeElement !== queryBox && !mouseOnAutocomBox) {autocomBox.style.display = "none";}
                });
        
                queryBox.value = "<%= decodeURIComponent(queryText) %>";

                queryBox.addEventListener('keyup', (event) => {
                    loaderParent.classList.remove("hidden");
                    loader.classList.remove("loader-hidden");
                    Array.prototype.forEach.call(autocomItems, (item) => {item.classList.add("hidden");});

                    let params = new URLSearchParams((location.href.split(/\?(.*)/s))[1]);
                    let paramObj = {};
                    let path = location.href.split('?')[0];

                    for(var key of params.keys()) {paramObj[key] = params.get(key);}

                    paramObj['q'] = encodeURIComponent(queryBox.value);
                    params = new URLSearchParams();
                    
                    for (var prop in paramObj) {
                        if (Object.prototype.hasOwnProperty.call(paramObj, prop)) {
                            params.append(prop, paramObj[prop]);
                        }
                    }

                    location.href = `${path}?${params.toString()}`;
                });

                queryBox.addEventListener('focusin', (event) => {autocomBox.style.display = "block";});
        
                for (let i = 0; i < autocomItems.length; i++) {
                    autocomItems[i].addEventListener("click", (event) => {location.href = `/query?idx=${i}`;});
                }

                loader.classList.add("loader-hidden");

                loader.addEventListener("transitionend", () => {
                    loaderParent.classList.add("hidden");
                });
            });
        </script>
    </body>
</html>