                </div>
            </div>
            <footer class="margin-lr color-2" id="footer">Copyright © 2024 Divyajyoti Panda</footer>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

        <script>
            function decodeHtml(html) {
                var txt = document.createElement("textarea");
                txt.innerHTML = html;
                return txt.value;
            }
            
            document.addEventListener("DOMContentLoaded", () => {
                const queryBox = document.getElementById('search');
                const autocomBox = document.getElementById('autocom-box');
                const loader = document.getElementsByClassName('loader')[0];
                const loaderParent = document.getElementsByClassName('loader-parent')[0];
                const autocomUl = document.getElementsByClassName('no-bullet')[0];

                let mouseOnAutocomBox = false;
                let autocomItems = document.querySelectorAll('#autocom-box .autocom-li');
                let queryResultsClient;
        
                autocomBox.addEventListener('mouseover', (event) => {mouseOnAutocomBox = true;});

                autocomBox.addEventListener('mouseout', (event) => {mouseOnAutocomBox = false;});
        
                document.addEventListener("click", (event) => {
                    if (document.activeElement !== queryBox && !mouseOnAutocomBox) {autocomBox.style.display = "none";}
                });

                queryBox.addEventListener('keyup', async (event) => {
                    if (event.which <= 127 && event.which >= 32 || event.which == 8) {
                        loaderParent.classList.remove("hidden");
                        loader.classList.remove("loader-hidden");
                        Array.prototype.forEach.call(autocomItems, (item) => {autocomUl.removeChild(item)});

                        let params = new URLSearchParams((location.href.split(/\?(.*)/s))[1]);
                        let paramObj = {};
                        let path = location.href.split('?')[0];

                        for(var key of params.keys()) {paramObj[key] = params.get(key);}

                        paramObj['q'] = encodeURIComponent(queryBox.value);
                        params = new URLSearchParams();
                        
                        for (var prop in paramObj) {
                            if (Object.prototype.hasOwnProperty.call(paramObj, prop)) {
                                params.append(prop, paramObj[prop]);
                            }
                        }

                        queryResultsClient = JSON.parse((await axios.get(`/search?${params.toString()}`)).data);
                        Array.prototype.forEach.call(queryResultsClient, (item) => {
                            let liElement = document.createElement('li');
                            let liText = document.createTextNode(item.title);
                            liElement.appendChild(liText);
                            liElement.setAttribute('class', 'autocom-li');
                            autocomUl.appendChild(liElement);
                        });

                        autocomItems = document.querySelectorAll('#autocom-box .autocom-li');

                        for (let i = 0; i < autocomItems.length; i++) {
                            autocomItems[i].addEventListener("click", (event) => {location.href = `/query?idx=${i}`;});
                        }

                        loader.classList.add("loader-hidden");
                        loaderParent.classList.add("hidden");
                    }
                });

                queryBox.addEventListener('focusin', (event) => {autocomBox.style.display = "block";});
        
                for (let i = 0; i < autocomItems.length; i++) {
                    autocomItems[i].addEventListener("click", (event) => {location.href = `/query?idx=${i}`;});
                }

                loader.classList.add("loader-hidden");
                loaderParent.classList.add("hidden");
            });
        </script>
    </body>
</html>