<%- include("partials/header.ejs") %>

<div id="content-container color-2">
    <h1 class="color-1 center">Your book note entries</h1>
    <% if (noteEntries.length === 0) { %>
        <span class="center margin-tb">You have no entries, please create an entry by searching your favorite book.</span>
    <% } else { %>
        <% noteEntries.forEach(noteEntry => { %>
            <div class="description-container">
                <div class="img-container"><img src="https://covers.openlibrary.org/b/ID/<%= noteEntry.cover_id %>-M.jpg"></div>
                <div class="description-content">
                    <p><%= noteEntry.description %></p>
                </div>
            </div>
        <% }) %>
    <% } %>
</div>

<%- include("partials/footer.ejs") %>