<%- include("partials/header.ejs") %>

<div id="content-container color-2">
    <h1 class="color-1 center">Your book note entries</h1>
    <% if (noteEntries.length === 0) { %>
        <span class="center margin-tb">You have no entries, please create an entry by searching your favorite book.</span>
    <% } else { %>
        <ul>
            <% for( let i = 0; i < noteEntries.length; i++ ) { %>
                <li><%= noteEntries[i] %></li>
            <% } %>
        </ul>
    <% } %>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const queryBox = document.getElementById('search');
        const autocomBox = document.getElementById('autocom-box');
        const autocomItems = document.querySelectorAll('#autocom-box li');

        let mouseOnAutocomBox = false;

        autocomBox.addEventListener('mouseover', (event) => {
            mouseOnAutocomBox = true;
        });
        autocomBox.addEventListener('mouseout', (event) => {
            mouseOnAutocomBox = false;
        });
        
        <% if ( queryText  != "") { %>
            queryBox.focus();
        <% } %>

        document.addEventListener("click", (event) => {
            if (document.activeElement !== queryBox && !mouseOnAutocomBox) {autocomBox.style.display = "none";}
        });

        queryBox.value = "<%= decodeURIComponent(queryText) %>";
        queryBox.addEventListener('keyup', (event) => {location.href = `/?q=${encodeURIComponent(queryBox.value)}`;});
        queryBox.addEventListener('focusin', (event) => {autocomBox.style.display = "block";});

        for (let i = 0; i < autocomItems.length; i++) {
            autocomItems[i].addEventListener("click", (event) => {console.log(event);});
        }
    });
    
</script>

<%- include("partials/footer.ejs") %>